
<link rel="stylesheet" href="/about-style.css" media="screen">
<main>
  <div class="info-container">

    <div>
      <img id="header-bradford-farm-view" src="https://media.licdn.com/dms/image/C5616AQE-ZeHJAamExw/profile-displaybackgroundimage-shrink_350_1400/0?e=1542844800&v=beta&t=3QJpyFfhsThA2U5_Ll7KCMiVE0mEh4Sg6SEgbaAHRD0">
      <div id="header-space"></div>
      <div class="content-wide">
            <h1> About Me: </h1>
            <p>Stuff to be written...</p>
      </div>

    </div>


  </div>



</main>
