html, body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: #282828;
  height: 100%;
  z-index: -1;
}




.background {
  position: fixed;
  display:  block;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
}

.info-container {
  right: 5%;
  top: 5%;
  position: absolute;
  z-index: -1;
  float: right;
  height: 94%;
  width: 70%;
  border: 1px solid black;
  outline-style: solid;
  outline-color: #63ffef;
  background-color: blue;
  opacity: .5;

}
