<link rel="stylesheet" href="/menu-bar.css" media="screen">
<menu-bar id="menu-bar">

  <img id = "profile-image" src = "/pictures/profile.jpg"

  <div id ="menu-bar-items">
    <h1 id="welcome-message"> Nick W. Bradford</h1>

    <nav>
      <ul class="navbar-list">
        <div class="navbar-item"><a href="/">Home</a></div>
        <p id="navbar-item-spacer"></p>
        <div class="navbar-item"><a href="About">About</a></div>
        <p id="navbar-item-spacer"></p>
        <div class="navbar-item"><a href="Resume">Resume</a></div>
        <p id="navbar-item-spacer"></p>
        <div class="navbar-item"><a href="Education">Education</a></div>
        <p id="navbar-item-spacer"></p>
        <div class="navbar-item"><a href="Projects">Projects</a></div>
        <p id="navbar-item-spacer"></p>
        <div class="navbar-item"><a href="Contact">Contact Me</a></div>
        <p id="navbar-item-spacer"></p>

      </ul>
    </nav>
  </div>

</menu-bar>
