<link rel="stylesheet" href="/menu-bar.css" media="screen">
<menu-bar id="menu-bar">

  <h1><a href="/"> Welcome Message</a></h1>


  <nav>
    <ul class="navbar-list">
      <li class="navbar-item"><a href="/">Home</a></li>
      <li class="navbar-item"><a href="About">About</a></li>
      <li class="navbar-item"><a href="Resume">Resume</a></li>
      <li class="navbar-item"><a href="Education">Education</a></li>
      <li class="navbar-item"><a href="Projects">Projects</a></li>
      <li class="navbar-item"><a href="Contact">Contact Me</a></li>

    </ul>
  </nav>

</menu-bar>
