<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>{{title}}</title>


    <link rel="stylesheet" href="/style.css" media="screen">

  </head>
  <body>

    {{{body}}}

  </body>
  <script>
  window.onload = function() {
    Particles.init({
      selector: '.background'
    });
    var particles = Particles.init({
	     selector: '.background',
       color: '#41f44a'
     });
  };
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.runtime.js"></script>
  <script src="/todo-template.js"></script>
  <script src="/generate-todo.js"></script>
  <script src="/index.js"></script>
  <canvas class="background"></canvas>
  <script src="/particles.js"></script>

</html>
